<?xml version="1.0"?>
<settings>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>blocked_tld</s_name>
    <s_value>mail.ru</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>comment_blocked_tld</s_name>
    <s_value>mail.ru</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>contact_blocked_tld</s_name>
    <s_value>mail.ru</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>contact_honeypot_name</s_name>
    <s_value>yourDate</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>contact_honeypot_value</s_name>
    <s_value>asap</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>honeypot_name</s_name>
    <s_value>sp_price_range</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_activate</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_admin_activate</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_admin_login_action</s_name>
    <s_value>3</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_admin_login_count</s_name>
    <s_value>3</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_admin_login_cron</s_name>
    <s_value>1</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_admin_login_hp</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_admin_login_inform</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_admin_login_time</s_name>
    <s_value>5</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_admin_login_unban</s_name>
    <s_value>30</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_blocked</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_blockedtype</s_name>
    <s_value>words</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_blocked_tld</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_comment_activate</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_comment_blocked</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_comment_blockedtype</s_name>
    <s_value>substr</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_comment_blocked_tld</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_comment_links</s_name>
    <s_value>2</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_contact_activate</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_contact_blocked</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_contact_blockedtype</s_name>
    <s_value>substr</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_contact_blocked_tld</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_contact_honeypot</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_contact_links</s_name>
    <s_value>1</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_duplicates</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_duplicates_as</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_duplicates_time</s_name>
    <s_value>30</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_duplicate_perc</s_name>
    <s_value>85</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_honeypot</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_mxr</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_security_activate</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_security_login_action</s_name>
    <s_value>3</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_security_login_count</s_name>
    <s_value>2</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_security_login_cron</s_name>
    <s_value>1</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_security_login_hp</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_security_login_inform</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_security_login_time</s_name>
    <s_value>30</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_security_login_unban</s_name>
    <s_value>180</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_security_recover_hp</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_security_register_hp</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_stopwords</s_name>
    <s_value>test</s_value>
    <e_type>STRING</e_type>
  </data>
</settings>
