<?xml version="1.0"?>
<settings>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>blocked</s_name>
    <s_value/>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>blocked_tld</s_name>
    <s_value>mail.ru</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>comment_blocked</s_name>
    <s_value/>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>comment_blocked_tld</s_name>
    <s_value>mail.ru</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>contact_blocked</s_name>
    <s_value/>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>contact_blocked_tld</s_name>
    <s_value>mail.ru</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>contact_honeypot_name</s_name>
    <s_value>yourDate</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>contact_honeypot_value</s_name>
    <s_value>asap</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>honeypot_name</s_name>
    <s_value>sp_price_range</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>htaccess_warning</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_activate</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_activate_pulsemenu</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_activate_topbar</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_activate_topicon</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_admin_activate</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_admin_login_action</s_name>
    <s_value>2</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_admin_login_count</s_name>
    <s_value>3</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_admin_login_cron</s_name>
    <s_value>1</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_admin_login_hp</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_admin_login_inform</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_admin_login_time</s_name>
    <s_value>30</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_admin_login_unban</s_name>
    <s_value>180</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_autoban_stopforumspam</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_badtrusted_activate</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_blocked</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_blockedtype</s_name>
    <s_value>words</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_blocked_tld</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_check_registrations</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_check_registration_mails</s_name>
    <s_value/>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_check_stopforumspam_ip</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_check_stopforumspam_mail</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_comment_activate</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_comment_blocked</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_comment_blockedtype</s_name>
    <s_value>substr</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_comment_blocked_tld</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_comment_links</s_name>
    <s_value>2</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_comment_stopwords</s_name>
    <s_value/>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_contact_activate</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_contact_blocked</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_contact_blockedtype</s_name>
    <s_value>substr</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_contact_blocked_tld</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_contact_honeypot</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_contact_links</s_name>
    <s_value>1</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_contact_stopwords</s_name>
    <s_value>test</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_duplicates</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_duplicates_as</s_name>
    <s_value>2</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_duplicates_time</s_name>
    <s_value>30</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_duplicate_perc</s_name>
    <s_value>85</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_duplicate_type</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_honeypot</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_mailtemplates</s_name>
    <s_value>a:16:{s:4:"page";s:7:"plugins";s:6:"action";s:12:"renderplugin";s:4:"file";s:31:"spamprotection/admin/config.php";s:8:"CSRFName";s:24:"CSRF1809492991_648697078";s:9:"CSRFToken";s:128:"9f70d74e430ae174ed692308b8642a53546c69ece46c9bf7a7d448c16c1a250cdf39536761c30a497745b8033bf084881280fb2e77f8b585def41abf5c526945";s:3:"tab";s:9:"sp_config";s:6:"subtab";s:13:"mailtemplates";s:18:"save_mailtemplates";s:4:"true";s:17:"sp_titleuser_user";s:53:"Too many false logins on {PAGE_NAME} for your account";s:16:"sp_mailuser_user";s:581:"Hello {MAIL_USER}

We have detected some false logins for your account {MAIL_USED} on {PAGE_NAME}. Last false login was on {MAIL_DATE} from IP {MAIL_IP}

In order to our security policy, we have temporarily disabled your account and banned the used IP in our System. You can use following link to unban and reactivate your Account. If this was not you, please contact the support and change your password. You can use the password recovery function, if you don't remember your password.

Unban your account: {UNBAN_LINK}
Password recovery: {PASSWORD_LINK}

Best regards
{PAGE_NAME}";s:18:"sp_titleuser_admin";s:36:"Too many false logins on {PAGE_NAME}";s:17:"sp_mailuser_admin";s:186:"Hello Admin

The System detected too many false logins for following account:

Account: {MAIL_USED}
Last Login: {MAIL_DATE}
IP: {MAIL_IP}

Please go to your {BAN_LIST} and check the ban.";s:18:"sp_titleadmin_user";s:53:"Too many false logins on {PAGE_NAME} for your account";s:17:"sp_mailadmin_user";s:581:"Hello {MAIL_USER}

We have detected some false logins for your account {MAIL_USED} on {PAGE_NAME}. Last false login was on {MAIL_DATE} from IP {MAIL_IP}

In order to our security policy, we have temporarily disabled your account and banned the used IP in our System. You can use following link to unban and reactivate your Account. If this was not you, please contact the support and change your password. You can use the password recovery function, if you don't remember your password.

Unban your account: {UNBAN_LINK}
Password recovery: {PASSWORD_LINK}

Best regards
{PAGE_NAME}";s:19:"sp_titleadmin_admin";s:36:"Too many false logins on {PAGE_NAME}";s:18:"sp_mailadmin_admin";s:186:"Hello Admin

The System detected too many false logins for following account:

Account: {MAIL_USED}
Last Login: {MAIL_DATE}
IP: {MAIL_IP}

Please go to your {BAN_LIST} and check the ban.";}</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_menu_after</s_name>
    <s_value>menu_dash</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_mxr</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_security_activate</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_security_admin_hp</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_security_login_action</s_name>
    <s_value>2</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_security_login_check</s_name>
    <s_value>1</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_security_login_count</s_name>
    <s_value>3</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_security_login_cron</s_name>
    <s_value>1</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_security_login_hp</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_security_login_inform</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_security_login_time</s_name>
    <s_value>30</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_security_login_unban</s_name>
    <s_value>180</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_security_recover_hp</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_security_register_hp</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_stopforumspam_freq</s_name>
    <s_value>3</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_stopforumspam_susp</s_name>
    <s_value>50</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_stopforum_cron</s_name>
    <s_value>1</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_stopforum_unban</s_name>
    <s_value>180</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_stopwords</s_name>
    <s_value>test</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_theme</s_name>
    <s_value>black</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_topbar_type</s_name>
    <s_value>icon</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_topicon_position</s_name>
    <s_value>left</s_value>
    <e_type>STRING</e_type>
  </data>
  <data>
    <s_section>plugin_spamprotection</s_section>
    <s_name>sp_update_check</s_name>
    <s_value>1</s_value>
    <e_type>BOOLEAN</e_type>
  </data>
</settings>
